body {
    align-items: center;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    font-family: 'Inter', 'Work Sans', "NunitoSans-Light", Arial, Helvetica, sans-serif;
    background: #4F68BB;
}

* {
    margin: 0;
    padding: 0;
}

.NAME_LOGO {
    width: 560px;
    height: 480px;
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -55%);
    /* box-shadow: 0px 0px 25px; */
    background-color: #FEF6F3;
}

.NAME_LOGO_INFO {
    width: 780px;
    height: 688px;
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -55%);
    /* box-shadow: 0px 0px 25px; */
    background-color: #FEF6F3;

    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Name-logo {
    display: flex;
}

.Name-logo a {
    margin: 30px 0 0 0px;
    padding-left: 25px;
}

.Name-logo-img1 {
    margin: 33px 0 0 280px;
}

.Name-logo-img1-info {
    margin: 17px 0 0 435px;
}

.Name-logo-img {
    margin: 41px 0 0 -57px;
}

.Name-logo-img-info {
    margin: 35px 0 0 -57px;
}

.name {
    margin: 60px 0 0 70px;
}

.name p {
    text-align: right;
    margin: 15px 73px 66px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.label {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.text-input {
    margin: 15px 0 0 0;
    width: 388px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 30px;
}

.text-input, .text-input::before, .text-input::after {
    box-size: border-box;
}

.button {
    text-align: center;
}
.submit_button {
    background: #FBC815;
    border-radius: 50px;
    width: 218px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border: 0;
    cursor: pointer;
}

.submit_button:hover {
    background-color: #BC9F3B;
}

.submit_button:active {
    background-color: #FDE07D;
}

.info p {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 55px 0 35px 0;
}

.info-li {
    margin: 18px 0 18px 0;
}

.info ul {
    margin: 63px 0 65px 100px;
    width: 580px;
    height: 190px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}