<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="./static/css/name.css" rel="stylesheet" type="text/css">
    <link href="./static/css/fonts.css" rel="stylesheet" type="text/css">
    <link rel="icon" sizes="16x16" href="./static/img/Иконка _Лого_ (1_1).svg" type="image/x-icon">
    <title>Vorobeyenglish</title>
</head>
<body>
    <form class="NAME_LOGO" action="./test" method="post">
        <div class="Name-logo">
            <a href="./"><img src="./static/img/Иконка _Лого_ (1).svg"></a>
            <img class="Name-logo-img1" src="./static/img/Ellipse 6 (2).svg">
            <a href="./"><img class="Name-logo-img" src="./static/img/Vector (5).svg"></a>
        </div>
        <div class="info">
            <p>Добро пожаловать!<br>Вы собираетесь начать тест</p>

            <input type="hidden" name="name" value="{{.User}}">
            <input type="hidden" name="id" value="{{.TestStart}}">

            <ul>
                <li>Тест содержит 60 вопросов с возможностью выбора 1 правильного ответа из 4-х.</li>
                <li class="info-li">Время на выполнения теста не ограничено.</li>
                <li>В конце Вы получите результат прохождения теста.</li>
            </ul>
        </div>
        <div class="button">
            <button class="button submit_button">Продолжить</button>         
        </div>
    </form>
    </div>
</body>
</html>